.body {
  min-width: 320px;
  min-height: 100vh;

  margin: 0 auto;
  padding: 0;

  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: $dark-grey;

  background-color: $white;
}
