.demo {
  padding-top: 27px;
  background-color: $light-extra-grey;

  @media (min-width: $tablet) {
    background-color: $white;
  }
}

.demo__text-block {
  padding-left: 20px;
  padding-right: 21px;
  margin-bottom: 36px;

  @media (min-width: $tablet) {
    margin-bottom: 85px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.demo__title {
  margin-bottom: 33px;

  @media (min-width: $tablet) {
    margin-bottom: 64px;
  }
}

.demo__descr {
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet) {
    margin-bottom: 54px;
    font-size: 16px;
    line-height: 24px;
  }
}

.demo__facts-wrapper {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}

.demo__facts {
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.demo__fact {
  position: relative;
  width: 124px;
  border: 2px solid $special-grey;
  border-radius: 3px;

  @media (min-width: $tablet) {
    width: 162px;
  }

  & + & {
    margin-left: 31px;

    @media (min-width: $tablet) {
      margin-left: 42px;
    }
  }
}

.demo__fact-title {
  margin: 0;
  padding: 13px 0 15px 0;
  font-family: $font-regular;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    padding-bottom: 2px;
    font-size: 30px;
    line-height: 37px;
  }
}

.demo__fact-descr {
  position: absolute;
  width: 87px;
  bottom: -17px;
  left: 50%;
  margin: 0;
  padding: 0 10px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  text-transform: lowercase;
  transform: translateX(-50%);
  background-color: $light-extra-grey;

  @media (min-width: $tablet) {
    position: relative;
    display: inline-block;
    width: auto;
    bottom: -8px;
    font-size: 14px;
    line-height: 14px;
    background-color: $white;
  }
}

.demo__money-spent {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-regular;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    // margin-top: -12px;
    flex-direction: column;
    align-items: flex-end;
    font-size: 20px;
    line-height: 20px;
  }
}

.demo__money-spent-title {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet) {
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 20px;
  }
}

.demo__money-spent-value {
  margin: 0;
}

