.features {
  @media (min-width: $tablet) {
    padding-bottom: 56px;
    border-bottom: 1px solid $extra-special-grey;
  }

  @media (min-width: 1024px) {
    max-width: 1024px;
  }

  @media (min-width: $desktop) {
    max-width: $desktop;
    padding-bottom: 0;
    border: none;
  }
}

.features__title {
  margin-bottom: 36px;

  @media (min-width: $tablet) {
    margin-bottom: 72px;
  }
}

.features__list {
  margin: 0;
  display: grid;
  row-gap: 20px;
  list-style: none;
  counter-reset: feature-number;

  @media (min-width: $tablet) {
    grid-template-columns: 1fr 1fr;
    row-gap: 87px;
    column-gap: 59px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
}

.features__item {
  position: relative;

  @media (min-width: $tablet) {
    width: 245px;
    min-height: 230px;

    &::after {
      content: counter(feature-number);
      position: absolute;
      z-index: -1;
      right: -2px;
      top: -40px;
      font-family: $font-regular;
      font-size: 280px;
      line-height: 280px;
      color: $basic-grey;
      counter-increment: feature-number;
    }

    &:first-child::after {
      right: 16px;
    }
  }

  @media (min-width: $desktop) {
    width: 245px;
  }
}

.features__descr {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 60px auto;
  align-items: center;
  column-gap: 20px;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet) {
    grid-template-columns: 1fr;
    row-gap: 32px;
    font-size: 16px;
    line-height: 24px;
  }

  &::before {
    content: "";
    width: 60px;
    height: 60px;
    background-color: $basic-green;
    background-repeat: no-repeat;
    background-position: center center;

    @media (min-width: $tablet) {
      width: 80px;
      height: 80px;
    }
  }

  &--healthy::before {
    background-image: url("../img/icon_leaf.svg");
  }

  &--type::before {
    background-image: url("../img/icon_tub.svg");
  }

  &--plan::before {
    background-image: url("../img/icon_eat.svg");
  }

  &--profit::before {
    background-image: url("../img/icon_alarm.svg");
  }
}
