.main-logo {
  padding-top: 12px;
  padding-bottom: 12px;
  display: grid;
  grid-template-columns: 33px 1fr;
  align-items: center;

  @media (min-width: $tablet) {
    display: block;
  }
}

.main-logo__text {
  justify-self: center;

  @media (min-width: $tablet) {
    display: none;
  }
}
