.main-logo {
  display: grid;
  grid-template-columns: 33px 1fr 33px;
  align-items: center;
  transition: opacity 0.3s;

  &[href]:hover {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet) {
    display: block;
  }
}

.main-logo__text {
  justify-self: center;

  @media (min-width: $tablet) {
    display: none;
  }
}
