.main-footer {
  position: relative;

  &--inner-page {
    background-color: $basic-grey;
  }
}

.main-footer__offer {
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $desktop) {
    position: absolute;
    top: 95px;
    left: 110px;
  }
}

.main-footer__map {
  width: 100%;
  height: 362px;
  background-color: $basic-grey;

  @media (min-width: $tablet) {
    height: 400px;
  }

  & iframe {
    height: 362px;

    @media (min-width: $tablet) {
      height: 400px;
    }
  }
}

.main-footer__links {
  background-color: $basic-grey;
}

.main-footer__links-inner {
  padding-top: 42px;
  display: grid;
  justify-items: center;

  @media (min-width: $tablet) {
    padding-top: 54px;
    padding-bottom: 54px;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }

  @media (min-width: 1024px) {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $desktop) {
    max-width: 1440px;
    padding-top: 58px;
  }

  &--inner-page {
    padding-top: 38px;

    @media (min-width: $tablet) {
      padding-top: 55px;
    }

    @media (min-width: $desktop) {
      padding-top: 59px;
    }
  }
}

.main-footer__logo {
  margin-bottom: 28px;

  &[href]:hover {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet) {
    margin-bottom: 0;
    justify-self: start;
  }
}

.main-footer__socials {
  justify-self: stretch;

  @media (min-width: $tablet) {
    margin-left: -19px;
    justify-self: center;
  }
}

.main-footer__creators {
  width: 100%;
  padding: 22px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: inherit;

  &:hover .main-footer__svg-path {
    fill: $basic-green;
  }

  &:active .main-footer__svg-path {
    fill: rgba($basic-green, 0.3);
  }

  &:active .main-footer__created-by {
    color: rgba($dark-grey, 0.3);
  }

  @media (min-width: $tablet) {
    width: auto;
    padding: 0;
    justify-self: end;
    justify-content: flex-end;
  }
}

.main-footer__created-by {
  font-size: 16px;
  line-height: 18px;
  transition: color 0.3s;

  @media (min-width: $tablet) {
    margin-right: 24px;
  }
}

.main-footer__svg-path {
  transition: fill 0.3s;
}
