.main-header {
  display: grid;
  grid-template-columns: 1fr 33px;
  align-items: center;

  @media (min-width: $tablet) {
    padding-top: 12px;
    grid-template-columns: 174px 1fr;
  }
}

.main-header__logo {
  grid-row: 1 / 2;
}

.main-header__nav {
  grid-column: 1 / 3;
  grid-row: 2 / 3;

  @media (min-width: $tablet) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}

.main-header__menu-button {
  grid-row: 1 / 2;
  justify-self: end;

  @media (min-width: $tablet) {
    display: none;
  }
}
