.main-form {
  padding-top: 28px;
  padding-bottom: 32px;
  font-family: $font-regular;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border-top: 1px solid $extra-special-grey;

  @media (min-width: $tablet) {
    padding-top: 53px;
    padding-bottom: 72px;
    font-size: 20px;
    line-height: 30px;
    border-top: none;
  }

  @media (min-width: $desktop) {
    padding-top: 66px;
    padding-bottom: 82px;
  }
}

.main-form__wrapper {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet) {
    padding-left: 70px;
    padding-right: 65px;
  }

  @media (min-width: 1024px) {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $desktop) {
    max-width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }

  &--grid {
    display: grid;
    row-gap: 12px;

    @media (min-width: $tablet) {
      grid-template-columns: 1fr 1fr;
      column-gap: 54px;
      row-gap: 32px;
      align-items: center;
    }

    @media (min-width: $desktop) {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 79px;
    }

    .main-form__label {
      margin-bottom: 0;
    }
  }

  &--contact-info {
    @media (min-width: $desktop) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 78px;

      .main-form__label {
        margin-bottom: 0;
      }
    }
  }
}

.main-form__fieldset-group {
  @media (min-width: $desktop) {
    max-width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 69px;
    display: grid;
    grid-template-columns: 569px 569px;
    column-gap: 80px;

    .main-form__wrapper {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.main-form__title {
  margin-bottom: 37px;

  @media (min-width: $tablet) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 56px;
  }
}

.main-form__descr {
  margin-top: 0;
  margin-bottom: 39px;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet) {
    margin-bottom: 66px;
    font-size: 20px;
    line-height: 30px;
  }
}

.main-form__fieldset {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  border: 0;

  &--common-info {
    margin-bottom: 21px;

    @media (min-width: $tablet) {
      margin-bottom: 71px;
    }

    @media (min-width: $desktop) {
      margin-bottom: 0;
    }
  }

  &--program {
    margin-bottom: 26px;
    padding-top: 23px;
    padding-bottom: 19px;
    border-top: 1px solid $extra-special-grey;
    border-bottom: 1px solid $extra-special-grey;

    @media (min-width: $tablet) {
      margin-left: 70px;
      margin-right: 65px;
      margin-bottom: 74px;
      padding-bottom: 24px;
      border: 1px solid $extra-special-grey;
    }

    @media (min-width: 1024px) {
      max-width: 889px;
      margin-left: auto;
      margin-right: auto;
    }

    @media (min-width: $desktop) {
      margin: 0;
    }

    .main-form__wrapper {
      @media (min-width: $tablet) {
        padding-left: 27px;
      }
    }
  }

  &--contact-info {
    margin-bottom: 23px;

    @media (min-width: $tablet) {
      margin-bottom: 65px;
    }

    @media (min-width: $desktop) {
      margin-bottom: 67px;
    }
  }

  &--comment {
    margin-bottom: 22px;

    @media (min-width: $tablet) {
      margin-bottom: 59px;
    }

    @media (min-width: $desktop) {
      margin-bottom: 61px;
    }
  }

  &--more {
    margin-bottom: 34px;

    @media (min-width: $tablet) {
      margin-bottom: 53px;
    }

    @media (min-width: $desktop) {
      margin-bottom: 61px;
    }
  }
}

.main-form__legend {
  width: 100%;
  display: flex;
  padding-left: 0;
  padding-right: 0;

  @media (min-width: $tablet) {
    padding-left: 30px;
  }

  @media (min-width: 1024px) {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 31px;
  }

  @media (min-width: $desktop) {
    max-width: 1440px;
    padding-left: 70px;
  }

  &--contact-info {
    margin-bottom: 35px;

    @media (min-width: $tablet) {
      margin-bottom: 76px;
    }
  }

  &--comment {
    margin-bottom: 37px;

    @media (min-width: $tablet) {
      margin-bottom: 76px;
    }
  }

  &--more {
    margin-bottom: 34px;

    @media (min-width: $tablet) {
      margin-bottom: 57px;
    }
  }

  &::after,
  &::before {
    position: absolute;
    content: "";
    margin-top: 0.6em;
    left: 0;
    right: 0;
    height: 2px;
    background-color: $basic-green;
    z-index: -1;
  }

  &::before {
    display: none;

    @media (min-width: $tablet) {
      display: block;
    }
  }

  span {
    padding-left: 20px;
    padding-right: 20px;
    background-color: $white;

    @media (min-width: $tablet) {
      padding-left: 39px;
      padding-right: 40px;
      flex-shrink: 0;
    }

    @media (min-width: $desktop) {
      padding-left: 40px;
    }
  }
}

.main-form__label {
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 15px;
  align-items: center;
  cursor: pointer;

  @media (min-width: $tablet) {
    margin-bottom: 20px;
    column-gap: 20px;
  }

  &:hover .main-form__input {
    border-color: $special-grey;
  }

  &:hover .main-form__custom-radio,
  &:hover .main-form__custom-checkbox {
    border-color: #bababa;
  }

  &--custom-margin {
    margin-bottom: 12px;

    @media (min-width: $tablet) {
      margin-bottom: 14px;
    }

    @media (min-width: $desktop) {
      margin-bottom: 14px;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--email,
  &--phone {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      right: 13px;
      top: 13px;
      background-repeat: no-repeat;
      background-position: center;
      transition: background-image 0.3s;

      @media (min-width: $tablet) {
        right: 18px;
        top: 15px;
      }
    }
  }

  &--email {
    &::after {
      background-image: url("../img/icon-email.svg");
    }

    &:focus-within {
      &::after {
        background-image: url("../img/icon-email-focus.svg");
      }
    }
  }

  &--phone {
    &::after {
      background-image: url("../img/icon-phone.svg");
    }

    &:focus-within {
      &::after {
        background-image: url("../img/icon-phone-focus.svg");
      }
    }
  }

  &--email-error {
    &::after {
      background-image: url("../img/icon-email-error.svg");
    }

    & .main-form__input {
      border-color: $red;
      border-width: 2px;
    }
  }

  &--phone-error {
    &::after {
      background-image: url("../img/icon-phone-error.svg");
    }

    & .main-form__input {
      border-color: $red;
      border-width: 2px;
    }
  }
}

.main-form__input {
  min-height: 45px;
  padding-left: 15px;
  padding-right: 9px;
  font-family: $font-regular;
  font-size: 16px;
  line-height: 18px;
  color: $dark-grey;
  text-transform: uppercase;
  border: 1px solid $light-extra-grey;
  transition: border-color 0.3s, outline 0.3s;

  @media (min-width: $tablet) {
    min-height: 52px;
    padding-top: 0;
    font-size: 20px;
    line-height: 30px;
  }

  &:focus {
    outline-width: 2px;
    outline-color: $dark-grey;
  }

  &--error {
    border-color: $red;
    border-width: 2px;
  }

  &::placeholder {
    font-family: $font-regular;
    font-size: 16px;
    line-height: 18px;
    color: $dark-grey;
    text-transform: uppercase;

    @media (min-width: $tablet) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  &::-webkit-inner-spin-button {
    //-webkit-appearance: none;
    //-moz-appearance: none;
    appearance: none;
  }

  &[type="number"] {
    appearance: textfield;
  }
}

.main-form__custom-radio {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid $special-grey;
  border-radius: 50%;
  box-shadow: inset 0 0 0 15px $white;
  background-color: $basic-green;
  transition: border-color 0.3s, box-shadow 0.3s;

  @media (min-width: $tablet) {
    width: 40px;
    height: 40px;
    box-shadow: inset 0 0 0 20px $white;
  }
}

.main-form__hidden-radio {
  &:checked + .main-form__custom-radio {
    box-shadow: inset 0 0 0 8px $white;

    @media (min-width: $tablet) {
      box-shadow: inset 0 0 0 10px $white;
    }
  }

  &:checked:focus + .main-form__custom-radio {
    box-shadow: inset 0 0 0 8px $white, 0 0 2px 2px $basic-green;

    @media (min-width: $tablet) {
      box-shadow: inset 0 0 0 10px $white, 0 0 2px 2px $basic-green;
    }
  }

  &:focus + .main-form__custom-radio {
    box-shadow: 0 0 2px 2px $basic-green;
  }
}

.main-form__custom-checkbox {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid $special-grey;
  transition: border-color 0.3s, box-shadow 0.3s, background-image 0.3s;

  @media (min-width: $tablet) {
    width: 40px;
    height: 40px;
  }
}

.main-form__hidden-checkbox {
  &:checked + .main-form__custom-checkbox {
    background-image: url("../img/icon-checked.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &:focus + .main-form__custom-checkbox,
  &:focus-visible + .main-form__custom-checkbox {
    box-shadow: 0 0 2px 2px $basic-green;
  }
}

.main-form__text-comment {
  width: 100%;
  min-height: 150px;
  padding: 9px 12px 9px 15px;
  font-family: $font-regular;
  font-size: 16px;
  line-height: 18px;
  color: $dark-grey;
  text-transform: uppercase;
  border: 1px solid $light-extra-grey;
  resize: none;

  @media (min-width: $tablet) {
    min-height: 174px;
    padding-left: 18px;
    font-size: 20px;
    line-height: 30px;
  }

  &::placeholder {
    font-family: $font-regular;
    font-size: 16px;
    line-height: 18px;
    color: $dark-grey;
    text-transform: uppercase;

    @media (min-width: $tablet) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  &:focus {
    outline-width: 2px;
    outline-color: $dark-grey;
  }
}

.main-form__button {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet) {
    width: 282px;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop) {
    width: 568px;
    grid-column: 1 / 3;
  }
}

.main-form__required-field {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  text-transform: none;
  text-align: center;

  @media (min-width: $tablet) {
    font-size: 16px;
    text-align: left;
  }

  sup {
    vertical-align: top;
  }
}
