.main-header {
  position: relative;
  padding-top: 12px;

  @media (min-width: $tablet) {
    max-width: 1024px;
    padding-top: 19px;
    padding-left: var(--tablet-padding);
    padding-right: var(--tablet-padding);
    display: grid;
    grid-template-columns: 174px 1fr;
    align-items: center;
  }

  @media (min-width: $desktop) {
    max-width: 1440px;
    padding-top: 46px;
    padding-left: var(--desktop-padding);
    padding-right: var(--desktop-padding);
    grid-template-columns: 202px 1fr;
  }
}

.main-header__logo {
  margin-bottom: 12px;
  padding-left: var(--mobile-padding);
  padding-right: var(--mobile-padding);

  @media (min-width: $tablet) {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 4px;
    grid-row: 1 / 2;
  }

  @media (min-width: $desktop) {
    margin-bottom: 0;
  }
}

.main-header__nav {
  @media (min-width: $tablet) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}

.main-header__menu-button {
  position: absolute;
  top: 18px;
  right: 20px;

  @media (min-width: $tablet) {
    display: none;
  }
}
