.promo {
  background-image: linear-gradient(180deg, rgba($basic-green, 0.85) 63%, $white 63%), url("../img/promo-background.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;

  @media (min-width: 500px) {
    background-size: cover;
  }

  @media (min-width: $tablet) {
    background-image: none;
  }

  @media (min-width: 1024px) {
    display: flex;
    justify-content: center;
  }

  @media (min-width: $desktop) {
    justify-content: flex-start;
    background-image: linear-gradient(90deg, $white 50%, rgba($basic-green, 0.85) 50%), url("../img/promo-background-desktop.jpg");
    background-position: top right;
    background-size: auto;
  }

  @media (min-width: 1450px) {
    justify-content: center;
    background-image: linear-gradient(90deg, $white 50%, rgba($basic-green, 0.85) 50%), url("../img/promo-background-desktop.png");
  }
}

.promo__inner {
  display: grid;
  justify-items: center;

  @media (min-width: $tablet) {
    justify-items: start;
    grid-template-columns: 516px 1fr;
    grid-template-rows: auto auto auto;
  }

  @media (min-width: 1024px) {
    grid-template-columns: 516px 448px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 516px 552px;
  }
}

.promo__title-wrapper {
  width: 280px;
  margin-top: 27px;
  margin-bottom: 15px;
  text-align: center;

  @media (min-width: $tablet) {
    width: auto;
    margin-top: 51px;
    margin-bottom: 29px;
    margin-left: 87px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    text-align: left;
  }

  @media (min-width: $desktop) {
    margin-top: 223px;
    margin-left: 80px;
    margin-bottom: 31px;
  }
}

.promo__title {
  margin-bottom: 25px;
  color: $white;

  @media (min-width: $tablet) {
    margin-bottom: 41px;
    color: $black;
  }
}

.promo__subtitle {
  font-family: $font-regular;
  font-size: 14px;
  line-height: 14px;
  color: $white;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 20px;
    color: $black;
  }
}

.promo__image {
  @media (min-width: $tablet) {
    margin-top: -29px;
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    justify-self: end;
  }

  @media (min-width: $desktop) {
    margin-top: -314px;
    margin-left: -68px;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    justify-self: start;
  }
}

.promo__btn {
  min-width: 280px;

  @media (min-width: $tablet) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-left: 82px;
    padding: 18px 26px;
    min-width: 0;
    width: auto;
    font-size: 20px;
  }
}
