.slider {
  --show-persent: 100%; //resize in JS

  @media (min-width: $tablet) {
    padding-bottom: 43px;
    background-image: linear-gradient(180deg, $white 27%, $light-extra-grey 27%);
  }
}

.slider__wrapper {
  position: relative;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: 708px;
  }
}

.slider__img-resize {
  position: absolute;
  margin-left: -3px;
  width: var(--show-persent);
  height: 240px;
  top: 0;
  left: 0;
  background-color: $light-extra-grey;
  overflow: hidden;

  @media (min-width: $tablet) {
    background-color: transparent;
    width: 50%; // убрать при реализации слайдера
    height: 520px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background-color: transparent;
  }
}

.slider__img-wrapper {
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    margin-bottom: 11px;
  }
}

.slider__img-before img {
  max-width: none;
  display: block;
}

.slider__img-after img {
  max-width: none;
  display: block;
}

.slider__controls {
  width: 228px;
  margin: 0 auto;
  padding-bottom: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet) {
    width: 590px;
    justify-content: center;
  }
}

.slider__btn {
  margin: 0;
  min-width: 70px;
  padding: 10px 0;
  font-family: $font-regular;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: 0;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: $tablet) {
    min-width: auto;
    padding: 0;
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted $extra-special-grey;
  }
}

.slider__range {
  @media (min-width: $tablet) {
    margin-left: 24px;
    margin-right: 20px;
    position: relative;
    width: 428px;
    height: 6px;
    background-color: $extra-special-grey;
    border-radius: 6px;
  }
}

.slider__range-toggle {
  width: 84px;
  height: 14px;
  padding-left: 6px;
  padding-right: 6px;
  display: grid;
  align-items: center;
  border: 1px solid $special-grey;
  border-radius: 6px;
  background-color: $white;

  @media (min-width: $tablet) {
    position: relative;
    margin-top: -14px;
    left: calc(50% - 34px / 2); // заменить на calc(var(--show-persent) - 34px / 2);
    width: 34px;
    height: 34px;
    background-color: $basic-green;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), inset 0 0 0 12px $white;
    cursor: pointer;
  }

  &::before {
    content: "";
    width: 50%; // заменить на var(--show-persent)
    height: 6px;
    border-radius: 6px;
    background-color: $basic-green;

    @media (min-width: $tablet) {
      content: none;
    }
  }
}
