.slider {
  @media (min-width: $tablet) {
    padding-bottom: 43px;
    background-image: linear-gradient(180deg, $white 27%, $light-extra-grey 27%);
  }

  @media (min-width: $desktop) {
    padding-bottom: 0;
    background-image: none;
  }
}

.slider__wrapper {
  --show-persent: 50%; //resize in JS
  position: relative;
  width: 280px;
  margin: 0 auto;
  outline: 1px solid plum;

  @media (min-width: $tablet) {
    width: 708px;
  }
}

.slider__img-resize {
  position: absolute;
  margin-left: -3px;
  width: var(--show-persent);
  height: 240px;
  top: 0;
  left: 0;
  background-color: $light-extra-grey;
  overflow: hidden;
  z-index: 2;

  @media (min-width: $tablet) {
    // width: 50%; // убрать при реализации слайдера
    margin-left: 0;
    height: 520px;
    background-color: transparent;
  }

  @media (min-width: $desktop) {
    // margin-left: -25px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background-color: transparent; //rgba($black, 0.3); // заменить на transparent
  }
}

.slider__img-wrapper {
  position: relative;
  height: 240px;
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    height: 520px;
    margin-bottom: 11px;
  }

  @media (min-width: $desktop) {
    position: relative;
    margin-bottom: 31px;
  }
}

.slider__img-before img {
  max-width: none;
  display: block;
}

.slider__img-after img {
  max-width: none;
  display: block;
}

.slider__controls {
  width: 228px;
  margin: 0 auto;
  padding-bottom: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet) {
    width: 590px;
    justify-content: center;
  }
}

.slider__btn {
  margin: 0;
  min-width: 70px;
  padding: 10px 0;
  font-family: $font-regular;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: 0;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: $tablet) {
    min-width: auto;
    padding: 0;
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted $extra-special-grey;
    transition: border-bottom 0.3s;

    &:hover {
      border-bottom: 1px solid rgba($black, 0.4);
    }

    &:active {
      border-bottom: 1px solid transparent;
    }
  }
}

.slider__range {
  @media (min-width: $tablet) {
    margin-left: 24px;
    margin-right: 20px;
    position: relative;
    width: 428px;
    height: 6px;
    background-color: $extra-special-grey;
    border-radius: 6px;
  }
}

// .slider__input {
//   width: 100%;
//   -webkit-appearance: none;
//   appearance: none;
//   height: 6px;
//   background-color: $extra-special-grey;
//   border-radius: 6px;
//   outline: none;
// }

// .slider__input::-webkit-slider-thumb {
//   -webkit-appearance: none;
//   appearance: none;
//   width: 84px;
//   height: 14px;
//   padding-left: 6px;
//   padding-right: 6px;
//   display: grid;
//   align-items: center;
//   border: 1px solid $special-grey;
//   border-radius: 6px;
//   background-color: $white;

//   &:active {
//     @media (min-width: $tablet) {
//       outline: none;
//       border: 1px solid $basic-green;
//     }
//   }

//   @media (min-width: $tablet) {
//     position: relative;
//     margin-top: -14px;
//     //left: calc(var(--show-persent) - 34px / 2); //calc(50% - 34px / 2); // заменить на calc(var(--show-persent) - 34px / 2);
//     width: 34px;
//     height: 34px;
//     background-color: $basic-green;
//     border-radius: 50%;
//     box-shadow: 0 1px 3px rgba($black, 0.16), inset 0 0 0 12px $white;
//     cursor: pointer;
//   }

//   &::before {
//     content: "";
//     width: var(--show-persent); // заменить на var(--show-persent)
//     height: 6px;
//     border-radius: 6px;
//     background-color: $basic-green;
//     transition: width 0.5s;

//     @media (min-width: $tablet) {
//       content: none;
//     }
//   }
// }

.slider__range-toggle {
  position: relative;
  width: 84px;
  height: 14px;
  // padding-left: 6px;
  // padding-right: 6px;
  display: grid;
  align-items: center;
  border: 1px solid $special-grey;
  border-radius: 6px;
  background-color: $white;
  //transition: left 0.5s;

  &:active {
    @media (min-width: $tablet) {
      outline: none;
      border: 1px solid $basic-green;
    }
  }

  @media (min-width: $tablet) {
    position: relative;
    margin-top: -14px;
    left: calc(var(--show-persent) - 34px / 2); //calc(50% - 34px / 2); // заменить на calc(var(--show-persent) - 34px / 2);
    width: 34px;
    height: 34px;
    background-color: $basic-green;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba($black, 0.16), inset 0 0 0 12px $white;
    cursor: pointer;
  }

  // &::before {
  //   content: "";
  //   width: var(--show-persent); // заменить на var(--show-persent)
  //   height: 6px;
  //   border-radius: 6px;
  //   background-color: $basic-green;
  //   //transition: width 0.5s;

  //   @media (min-width: $tablet) {
  //     content: none;
  //   }
  // }
}

.slide__range-mobile-toggle {
  position: absolute;
  margin-left: 6px;
  margin-right: 6px;
  top: 3px;
  width: calc(var(--show-persent)); // заменить на var(--show-persent)
  max-width: calc(72px);
  height: 6px;
  border-radius: 6px;
  background-color: $basic-green;
  //transition: width 0.5s;

  @media (min-width: $tablet) {
    display: none;
  }
}
