.socials {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  border-top: 1px solid $extra-special-grey;
  border-bottom: 1px solid $extra-special-grey;

  @media (min-width: $tablet) {
    padding: 0;
    justify-content: space-between;
    border: none;
  }
}

.socials__item {
  width: 23px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet) {
    width: auto;
  }

  & + & {
    margin-left: 30px;

    @media (min-width: $tablet) {
      margin-left: 28px;
    }
  }
}

.socials__link {
  &--vk .socials__icon {
    width: 23px;
    height: 16px;

    @media (min-width: $tablet) {
      width: 29px;
      height: 18px;
    }
  }

  &--instargam .socials__icon {
    width: 16px;
    height: 16px;

    @media (min-width: $tablet) {
      width: 23px;
      height: 23px;
    }
  }

  &--facebook .socials__icon {
    width: 22px;
    height: 22px;

    @media (min-width: $tablet) {
      width: 15px;
      height: 29px;
    }
  }

  &:hover .socials__icon {
    fill: $basic-green;
  }

  &:active .socials__icon {
    fill: rgba($basic-green, 0.3);
  }

  &:hover .socials__icon--facebook {
    fill: none;
    stroke: $basic-green;
  }

  &:active .socials__icon--facebook {
    fill: none;
    stroke: rgba($basic-green, 0.3);
  }
}

.socials__icon {
  fill: $half-dark-grey;
  transition: fill 0.3s;

  &--facebook {
    fill: none;
    stroke: $half-dark-grey;
    transition: stroke 0.3s;
  }
}
