.socials {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  border-top: 1px solid $extra-special-grey;
  border-bottom: 1px solid $extra-special-grey;
}

.socials__item {
  padding-top: 20px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
}
