.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.main-title {
  margin: 0;
  padding: 0;
  font-family: $font-regular;
  font-size: 36px;
  line-height: 36px;
  color: $black;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;
  }
}

.section-title {
  margin: 0;
  font-family: $font-regular;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;
  }
}

.btn {
  padding: 11px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-regular;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  border: 0;
  background-color: $basic-green;
  cursor: pointer;
}
