.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: var(--mobile-padding);
  padding-right: var(--mobile-padding);

  @media (min-width: $tablet) {
    padding-left: var(--tablet-padding);
    padding-right: var(--tablet-padding);
  }

  @media (min-width: $desktop) {
    padding-left: var(--desktop-padding);
    padding-right: var(--desktop-padding);
  }

  &--special-offer {
    @media (min-width: $desktop) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.main-title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $font-regular;
  font-size: 36px;
  line-height: 36px;
  color: $black;
  text-transform: none;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;
  }
}

.section-title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $font-regular;
  font-size: 36px;
  line-height: 40px;
  text-transform: none;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;
  }
}

.special-title {
  font-family: $font-regular;
  font-size: 24px;
  line-height: 26px;
  text-transform: none;

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 36px;
  }
}

.btn {
  padding: 11px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-regular;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  border: 0;
  background-color: $basic-green;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: $special-green;
  }

  &:active,
  &--active {
    outline: none;
    color: rgba($white, 0.3);
  }

  &--special {
    padding-top: 10px;
    padding-bottom: 10px;
    color: $dark-grey;
    background-color: $basic-grey;

    @media (min-width: $tablet) {
      padding-top: 11px;
      padding-bottom: 11px;
    }

    &:hover {
      background-color: $light-grey;
    }

    &:active {
      color: rgba($dark-grey, 0.3);
    }
  }
}

.transition-resize {
  transition: left 0.5s, width 0.5s;
}

/*focus-visible polyfill */
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
