/* Colors */
$basic-grey: #f2f2f2;
$light-grey: #ebebeb;
$light-extra-grey: #eaeaea;
$special-grey: #cdcdcd;
$extra-special-grey: #d9d9d9;
$half-dark-grey: #666666;
$dark-grey: #444444;
$extra-dark-grey: #222222;

$basic-green: #68b738;
$special-green: #5eaa2f;
$red: #ff8282;

$white: #ffffff;
$black: #000000;

/* Fonts */
$font-regular: "Oswald Regular", "Arial", sans-serif;
$font-medium: "Oswald Medium", "Arial", sans-serif;
